.navbar{
    position:fixed;
    top:0;
    width:100%;
    padding: 20px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
    height:1.875rem;


    
}

.navbar__black{
    background-color:#111;
}

.navbar__logo{
    position:fixed;
    left:20px;
    width:80px;
    object-fit:contain;
    cursor: pointer;

}

.navbar__avatar{
    position: fixed;
    right:20px;
    width:30px;
    object-fit:contain;
}
.navbar__items{
    margin-left:70px;
}
.navbar__item{
    color:white;
    display:inline-block;
    justify-content:center;
    line-height: 1.3rem;
    font-size: 0.8rem;
    margin-left:25px;
    

}

.navbar__item:hover{
    color:#A2A39C;
    transition: all 0.5s;
    cursor:pointer;

}

.navbar__item-kids{
    position:fixed;
    cursor:pointer;
    right:110px;
    color:white;
    line-height: 1.3rem;
    font-size: 0.8rem;
}

.navbar__item-kids:hover{
    color:#A2A39C;
    transition: all 0.5s;
    cursor:pointer;

}

.navbar__icon-search{
    object-fit:contain;
    position:fixed;
    right:145px;
    cursor:pointer;
    
    
}

.navbar__icon-bell{
    object-fit:contain;
    position:fixed;
    right:75px;
    cursor:pointer;
}


